.section3{
    display: none;
}
.section2{
    display: none;
}
.show2{
    display: block;
}
.show3{
    display: block;
}
.bouton{
background-color: #FF7900;
color: white;
}

.ajout_analyse{
    background-color: #FF7900;
}

.ajout_analyse:hover{
    background-color: #009088;
    color: white;
}

.bouton:hover{
    background-color:#009088;
    color: white;
}
#bouton{
    background-color: #FF7900;
    color: white;
}

#bouton:hover{
    background-color:#009088;
    font-size: 1.5rem;
}

.indication-act-progrm-show{
    display: none;
}
.recaputilatif-show{
    display: block;
}
.icon-add{
    margin-left: -1rem;
}
.div-btn{
    visibility: hidden;
}
.div-btn-show{
    visibility: visible;
}
.btn-final,.definir-action{
    background-color: #FF7900;
    border-radius: 5px;
}
.btn-final:hover,.definir-action:hover{
    background-color: #009088;color: white;
    border-radius: 5px;
}

.action-indiv :nth-child(1){
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.action-indiv :nth-child(2){
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.action-indiv :nth-child(3){
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.action-indiv :nth-child(4){
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.action-indiv :last-child{
    border-bottom:none;
    padding-bottom: 20px;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}



