{% extends 'index.html' %}

{% block content %}

<div class="card container-fluid border border-grey rounded-2 p-3 bg-gray-100 shadow mb-3">
    <div class="jumbotron p-3 tx-center az-content-label mg-b-20 mt-2">Action programme</div>
    <h2 class="modal-title my-3" id="libelle_act_prog">Libellé Analyse de la variation</h2>
        <table class="display responsive w-100 nowrap">
            <thead>
                <tr class="">
                    <th class=" border border-dark modal-title tx-center py-2 col-3">Cause racine</th>
                    <th class=" border border-dark modal-title tx-center py-2 col-3">Actions</th>
                    <th class=" border border-dark modal-title tx-center py-2 col-3">Porteurs</th>
                    <th class=" border border-dark modal-title tx-center py-2 col-3">Échéance</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <spam class="indication-act-progrm">
                Cliquer sur le bouton(+) de droite pour ajouter une Action(Action, Porteur, Echeance)</spam>
            <tbody class="border border-primary" id="corps"></tbody>
        </table>
    <i class="fa-light fa-plus fs-3" id="btn-plus" style="cursor:pointer"></i>
    <div class="mt-3">
        <button type="button" class="btn btn-primary rounded my-3 float-right" id="action_programme">Valider</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/actionProgramme.js') }}"></script>

{% endblock %}