{% extends 'index.html' %}

{% block content %}
<div class="card container-lg border border-grey rounded-2 p-3 bg-gray-100 shadow mb-3">
    <div class="jumbotron p-3 tx-center az-content-label mg-b-20">ANALYSE VARIATION</div>
    <form action="#" method="POST">
        <div style="white-space: nowrap;overflow-x: auto; width: 1700px;" class="position-relative container ">
            <div class="section1 mb-3 ">
                <div class="row mb-3">
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="reference_av">Reference AV</label>
                        <input class="fs-5 px-2" name="reference_av_act" id="reference_av_act" value="{{ reference }}"
                            disabled>
                        <!-- <input type="text" name="reference_av" id="reference_av">-->
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="libelle_av">Libellé AV</label>
                        <input class="fs-5 px-2" type="text" name="libelle_av" value="{{ libelle }}">
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="responsable_av">Responssable AV</label>
                        <input class="fs-5 px-2" type="text" name="responsable_av" value="{{ agent }}" disabled>
                    </div>
                </div>
            </div>
            <div class="analyse-cause mg-t-30" id="section2_act">
                <div class="row mb-2">
                    <div class="col-3 d-flex flex-column">
                        <label for="identifiant_act" class=" fs-5 tx-center">Identifient</label>
                        <input id="identifiant_act" name="identifiant_act"
                            class="px-2 fs-5 border border-info text-white" style="background-color: #009088;"
                            value="{{ nom_conseiller }}" disabled>
                    </div>
                    <div class="col-9 d-flex flex-column">
                        <label for="axes_analyse_act" class=" fs-5 tx-center">Axes d'analyse des causes choisie</label>
                        <input type="" id="axes_analyse_act" name="axes_analyse_act" value="{{ datacc.axe_analyse }}"
                            class="col pe-0 me-2 fs-5" disabled>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row probleme mb-2">
                        <label for="probleme_act" class="col-3 fs-5">Probleme</label>
                        <div class="col-9 ">
                            <input type="text" id="probleme_act" name="probleme_act" value="{{ datacc.probleme }}"
                                class="col border border-primary fs-5">
                        </div>
                    </div>
                </div>
                <div id="enregistrement_action">
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 1</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[0]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_{{ i }}_act" name="input_{{ i }}_act"
                                    value="{{ pourquoi_1[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 2</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[1]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_{{ i }}_act" name="input_{{ i }}_act"
                                    value="{{ pourquoi_2[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 3</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[2]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_{{ i }}_act" name="input_{{ i }}_act"
                                    value="{{ pourquoi_3[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 4</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[3]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_{{ i }}_act" name="input_{{ i }}_act"
                                    value="{{ pourquoi_4[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 5</label>
                        <div class="col">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[4]+1) %}
                                <div class="col pe-0 me-2">
                                    <div class="col p-0 fs-5 border mg-b-10">
                                        <input class="col " id="input_{{ i }}_act" name="input_{{ i }}_act"
                                            value="{{ pourquoi_5[i-1] }}">
                                    </div>
                                    <div class="col d-flex flex-column p-0 mg-b-10">
                                        <select name="axes_{{ i }}_analyse" id="axes_{{ i }}_analyse"
                                            class="bg-white border p-1 fs-5">
                                            <option label="choisir un Axe"></option>
                                            {% for elem in cause %}
                                            <option value="{{ elem }}">{{ elem }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col pe-0 me-4 btn-icon-list mb-3">
                                        <a href="#" id="definir-action_4" class="w-100 definir-action fs-5 ">
                                            <button class=" btn tx-white text-center  border-0 rounded definir_action "
                                                id="action4" title="analyse">Définir
                                                Action</i></button></a>
                                        &nbsp;&nbsp;
                                    </div>
                                </div>
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-end">
                        <div class=" d-flex col-10 justify-content-between " id="div-btn">
                            <!-- <div class="btn-icon-list mb-3 mg-l-20">
                                <a href="#" id="definir-action_1" class="definir-action">
                                    <button class="btn tx-white  border-0 rounded definir_action" id="action1"
                                        title="analyse">Définir
                                        Action</i></button></a>
                                &nbsp;&nbsp;
                            </div>
                            <div class="btn-icon-list mb-3">
                                <a href="#" id="definir-action_2" class="definir-action">
                                    <button class="btn tx-white  border-0 rounded definir_action" id="action2"
                                        title="analyse">Définir
                                        Action</i></button></a>
                                &nbsp;&nbsp;
                            </div>
                            <div class="btn-icon-list mb-3">
                                <a href="#" id="definir-action_3" class="definir-action">
                                    <button class="btn tx-white  border-0 rounded definir_action" id="action3"
                                        title="analyse">Définir
                                        Action</i></button></a>
                                &nbsp;&nbsp;
                            </div>-->

                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-end ">
                        <div class="d-flex col-10 justify-content-end p-0 ">
                            <div class="col-2 d-flex justify-content-end p-0 ">
                                <a href="{{ url_for('analyse_agent', reference=reference, n=n) }}">
                                    <div class="btn tx-white btn-final rounded">Autres axes</div>
                                </a>
                            </div>
                            <div class="col-3 d-flex justify-content-end p-0 mg-r-40" id="enregistrement_de_detail">
                                <button type="submit" class="btn  tx-white btn-final rounded">Terminer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--............ Modal ...............-->
    <div class="modal fade" id="modal_action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Définir action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column" id="modal-body">
                    <marquee width="100%" scrollamount="2" scrolldelay="10" class=" modal-title fs-4 ">Vueillez cliquer
                        sur le bouton action</marquee>
                    <div class="d-flex flex-column ">
                        <form action="#" method="POST" id="form_actions">
                            <div class="form-input" id="form-input">
                                <!-- <div class="row mb-3">
                                    <h3 class="modal-title fs-5 py-2" id="modal_tittle">action_n°1:</h3>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="reference_action" class="d-flex justify-content-start">Ref
                                            action</label>
                                        <input type="text" name="reference_action" id="reference_action" class="fs-5"
                                            value="">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="libelle_action" class="d-flex justify-content-start">Libellé
                                            action</label>
                                        <input type="text" name="libelle_action" id="libelle_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="porteur_action" class="d-flex justify-content-start">Porteur</label>
                                        <input type="text" name="porteur_action" id="porteur_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="delai_action" class="d-flex justify-content-start">Echéance</label>
                                        <input type="date" name="echeance_action" id="echeance_action" class="fs-5">
                                    </div>
                                </div> -->


                            </div>
                            <div class="modal-footer py-3" id="modal-footer">
                                <button type="button" class="btn btn-primary rounded" id="autre-act">Autre
                                    act..</button>
                                <button type="button" id="bouton_valider_action" class="btn btn-primary rounded"
                                    data-bs-dismiss="modal">valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- ...............Récap............... -->
<div class="jumbotron p-3  modal-title  mb-2 mt-5 tx-center az-content-label bg-light">Récap de l'analyse global</div>
<div class="recap_global border m-0">
    <div class="row m-0 ">
        <div class="col-1 modal-title py-2 border">CC</div>
        <div class="col-1 modal-title py-2 border">Valeur</div>
        <div class="col-1 modal-title py-2 border">Pourquoi 1</div>
        <div class="col-1 modal-title py-2 border">Pourquoi 2</div>
        <div class="col-1 modal-title py-2 border">Pourquoi 3</div>
        <div class="col-1 modal-title py-2 border">Pourquoi 4</div>
        <div class="col-1 modal-title py-2 border">Pourquoi 5</div>
        <div class="col-1 modal-title py-2 border">Famille</div>
        <div class="col-1 modal-title py-2 border">Action</div>
        <div class="col-1 modal-title py-2 border">Porteur</div>
        <div class="col-1 modal-title py-2 border">Echeance</div>
        <div class="col-1 modal-title py-2 border">Status</div>
    </div>
    <div class="row m-0">

        <!-- Conseiller-->
        <table class=" border  display responsive col-1">
            <tr style=" padding: 0 !important;margin: 0 !important;">
                <td class="col-1 tx-center border" style=" padding: 0 !important;margin: 0 !important;">
                    CC
                </td>
            </tr>
        </table>

        <!-- Valeur de l'analyse-->
        <table class=" border  display responsive col-1">
            <tr style=" padding: 0 !important;margin: 0 !important;">
                <td class="col-1 border tx-center" style=" padding: 0 !important;margin: 0 !important;">
                    456,5
                </td>
            </tr>
        </table>

        <!-- Pourquoi 1-->
        <table class=" border  display responsive col-1">
            {% for pq in  range(1) %}
            <tr style="padding: 0 !important;margin: 0 !important;">
                <td class="col-1 border" style=" padding: 0 !important;margin: 0 !important;">
                    <table class=" border  display responsive col-12">
                        <tr class="w-100 border " style=" padding: 0 !important;margin: 0 !important;">
                            <p class="tx-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sed error doloribus quis quod</p>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>

       <!-- Pourquoi 2-->
        <table class="border display responsive col-1">
            {% for pq in  range(1) %}
            <tr style=" padding: 0 !important;margin: 0 !important;">
                <td class="col-1 border" style=" padding: 0 !important;margin: 0 !important;">
                    <table class=" border  display responsive col-12">
                        <tr class="w-100 border " style=" padding: 0 !important;margin: 0 !important;">
                            <p class="tx-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur fugit pariatur</p>
                           
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>

        <!-- Pourquoi 3-->
        <table class=" border  display responsive col-1">
            {% for pq in  range(2) %}
            <tr style=" padding: 0 !important;margin: 0 !important;">
                <td class="col-1 border" style=" padding: 0 !important;margin: 0 !important;">
                    <table class=" border  display responsive col-12">
                        <tr class="w-100 border " style=" padding: 0 !important;margin: 0 !important;">
                            <p class="tx-center"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro repellendus sit similique </p>
                           
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>

        <!-- Pourquoi 4-->
        <table class=" border  display responsive col-1">
            {% for pq in  range(4) %}
            <tr style=" padding: 0 !important;margin: 0 !important;">
                <td class="col-1 border" style=" padding: 0 !important;margin: 0 !important;">
                    <table class=" border display responsive col-12">
                        <tr class="w-100 border " style=" padding: 0 !important;margin: 0 !important;">
                            <p class="tx-center"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia corporis dolore magnam </p>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>

        <!-- Pourquoi 5-->
        <table class=" border  display responsive col-1">
            {% for pq in  range(4) %}
            <tr style=" padding: 0 !important;margin: 0 !important;">
                <td class="col-1 border" style=" padding: 0 !important;margin: 0 !important;">
                    <table class=" border  display responsive col-12">
                        <tr class="w-100 border " style=" padding: 0 !important;margin: 0 !important;">
                           <p class="tx-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum mollitia odio molestiae in </p>

                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
        <!-- Famille de cause-->

        <table class="border  display responsive col-1">
            {% for pq in  range(4) %}
            <tr style=" padding: 0 !important;margin: 0 !important;">
                <td class="col-1 border" style=" padding: 0 !important;margin: 0 !important;">
                    <table class="border  display responsive col-12">
                        <tr class="" style=" padding: 0 !important;margin: 0 !important;">
                           <p class="tx-center">FAMILLE</p>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>

        <!-- Partie Acyion individuelle de chaque dernier pourquoi-->

        {% for pq in  range(4) %} 
            <table class="display responsive col-1">
                {% for pq in  range(4) %} 
                <tr style="padding: 0 !important;margin: 0 !important;">
                    <td class="col-1" style="padding: 0 !important;margin: 0 !important;">
                        <table class="display responsive col-12">
                            {% for pq in  range(3) %} 
                                <tr class="" style=" padding: 0 !important;margin: 0 !important;">
                                    <td class="border " style=" padding: 0 !important;margin: 0 !important;">
                                        <p class="ms-2 mt-2 ">Lorem ipsum dolor</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                    {# <tr class="d-flex" style=" padding: 0 !important;margin: 0 !important;">
                        <td class="col-12" style=" padding: 0 !important;margin: 0 !important;" >
                            {% for pq in  range(1) %}
                            <table class=" border display responsive col-12">
                                    <tr class=" " style="padding: 0 !important;margin: 0 !important;">
                                        <td class="" style="padding: 0 !important;margin: 0 !important;">
                                            Lorem ipsum dolor
                                        </td>                                        
                                    </tr>
                            </table>
                            {% endfor %}
                        </td>
                    </tr> #}
                {% endfor %}
            </table>
        {% endfor %}
        {# <table class="col-1 ">
            {% for pq in  range(4) %} 

            <tr class="d-flex" style=" padding: 0 !important;margin: 0 !important;">
                <td class="col-12" style=" padding: 0 !important;margin: 0 !important;" >
                    {% for pq in  range(5) %}
                    <table class=" border col-12 ">
                            <tr class=" " style=" padding: 0 !important;margin: 0 !important;  ">
                                <td class=" py-2 px-1">

                                    Lorem ipsum dolor 
                                </td>
                                
                            </tr>
                    </table>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

        </table> #}

    </div>

</div>
<div class="action_programme">
    <a href="{{ url_for('action_programme') }}" id="action_programme" class="w-100 fs-5 ">
        <button type="button" class="btn btn-primary rounded my-3 float-right" id="#">Définir Action Programme</button>   
    </a>
</div>
&nbsp;&nbsp;

<script src="{{ url_for('static', filename='js/ajoutAction.js') }}"></script>
{% endblock content %}