{% extends 'index.html' %}

{% block content %}
<div class="card container-fluid border border-grey rounded-2 p-3 bg-gray-100 shadow mb-3">
    <div class="jumbotron p-3 tx-center az-content-label mg-b-20">ANALYSE VARIATION</div>
    <form action="" method="POST">
        <div style="white-space: nowrap; width: 1700px;" class="position-relative p-3">
            <div class="section1 mb-3 ">
                <div class="row mb-3">
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="reference_av">Reference AV</label>
                        <input class="fs-5 px-2" name="reference_av_act" id="reference_av_act" value="{{ reference }}"
                            disabled>
                        <!-- <input type="text" name="reference_av" id="reference_av">-->
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="libelle_av">Libellé AV</label>
                        <input class="fs-5 px-2" type="text" id="libelle_av" name="libelle_av" value="{{ libelle }}">
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="responsable_av">Responssable AV</label>
                        <input class="fs-5 px-2" type="text" name="responsable_av" value="{{ agent }}" disabled>
                    </div>
                </div>
            </div>
            <div class="analyse-cause mg-t-30" id="section2_act">
                <div class="row mb-2">
                    <div class="col-3 d-flex flex-column">
                        <label for="identifiant_act" class=" fs-5 tx-center">Identifient</label>
                        <input id="identifiant_act" name="identifiant_act"
                            class="px-2 fs-5 border border-info text-white" style="background-color: #009088;"
                            value="{{ nom_conseiller }}">
                    </div>
                    <div class="col-9 d-flex flex-column">
                        <label for="axes_analyse_act" class="fs-5 tx-center">Axes d'analyse des causes choisie</label>
                        <input type="" id="axes_analyse_act" name="axes_analyse_act" value="{{ valeurs_aberante_cc }}"
                            class="col pe-0 me-2 fs-5" disabled>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row probleme mb-2">
                        <label for="probleme_act" class="col-3 fs-5">Probleme</label>
                        <div class="col-9 ">
                            <input type="text" id="probleme_act" name="probleme_act" value="{{ datacc.probleme }}"
                                class="col border border-primary fs-5">
                        </div>
                    </div>
                </div>
                <div id="enregistrement_action">
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 1</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[0]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_1{{ i }}_act" name="input_1{{ i }}_act"
                                    value="{{ liste_pourquoi[0][i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 2</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[1]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_2{{ i }}_act" name="input_2{{ i }}_act"
                                    value="{{ liste_pourquoi[1][i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 3</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[2]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_3{{ i }}_act" name="input_3{{ i }}_act"
                                    value="{{ liste_pourquoi[2][i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 4</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[3]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_4{{ i }}_act" name="input_4{{ i }}_act"
                                    value="{{ liste_pourquoi[3][i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-10">
                        <label for="" class="col-2 fs-5">Pourquoi: 5</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0 ">
                                {%  for i in range(1,nbre_pourquoi[4]+1) %}
                                <input class="col pe-0 me-2 fs-5" id="input_5{{ i }}_act" name="input_5{{ i }}_act"
                                    value="{{ liste_pourquoi[4][i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Famille Causes </label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0 ">
                                {%  for i in range(1,7) %}
                                <input class="col pe-0 me-2 fs-5" id="axes_analyse_{{ i }}" name="axes_analyse_{{ i }}"
                                    value="{{ liste_pourquoi[5][i-1] }}" disabled>
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex row">
                    <label for="" class="col-2"> </label>
                    <div class="col p-0 ms-4">
                        <div class="col d-flex row mg-b-20 p-0 " id="div-btn">
                            {%  for i in range(1,7) %}
                            {%  if liste_pourquoi[5][i-1] %}
                            <div class="col-2 p-0 ">
                                <a href="#" class="definir-action fs-5">
                                    <button id="definir-action_{{ i }}"
                                        class="tx-white text-center border-0 rounded definir_action px-2 "
                                        title="analyse" style="background-color: #FF7900;">Définir
                                        Action</button></a>
                                &nbsp;&nbsp;
                            </div>
                            {%  else %}
                            <div class="col-2 p-0 ">
                                <a href="#" class="definir-action fs-5">
                                    <button id="definir-action_{{ i }}"
                                        class="tx-white text-center border-0 rounded definir_action px-2 "
                                        title="analyse" style="background-color: #FF7900;">Définir
                                        Action</button></a>
                                &nbsp;&nbsp;
                            </div>
                            {%  endif %}
                            {%  endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-end ">
                        <div class="d-flex col-10 justify-content-end p-0 ">
                            <div class="col-2 d-flex justify-content-end p-0 ">
                                <a href="{{ url_for('listeVa', ref=reference) }}">
                                    <div class="btn tx-white btn-final rounded">Autre Valeur</div>
                                </a>
                            </div>
                            <div class="col-3 d-flex justify-content-end p-0 mg-r-40" id="enregistrement_de_detail">
                                <button type="submit" class="btn  tx-white btn-final rounded">Terminer</button
                                    type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--............ Modal ...............-->
    {%  if exist %}
    <div class="modal fade" id="modal_action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Définir action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column" id="modal-body">
                    <h3 class="">Bien sur que Action existe </h3>
                    <div class="d-flex flex-column ">
                        <form action="#" method="POST" id="form_actions">
                            <div class="form-input" id="form-input">
                                {# <div class="row mb-3">
                                    <h3 class="modal-title fs-5 py-2" id="modal_tittle">action_n°1:</h3>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="reference_action" class="d-flex justify-content-start">Ref
                                            action</label>
                                        <input type="text" name="reference_action" id="reference_action" class="fs-5"
                                            value="">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="libelle_action" class="d-flex justify-content-start">Libellé
                                            action</label>
                                        <input type="text" name="libelle_action" id="libelle_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="porteur_action" class="d-flex justify-content-start">Porteur</label>
                                        <input type="text" name="porteur_action" id="porteur_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="delai_action" class="d-flex justify-content-start">Echéance</label>
                                        <input type="date" name="echeance_action" id="echeance_action" class="fs-5">
                                    </div>
                                </div> #}
                            </div>
                            <div class="modal-footer py-3" id="modal-footer">
                                <button type="button" class="btn btn-primary rounded" id="autre-act">Autre
                                    act..</button>
                                <button type="submit" id="bouton_valider_action" class="btn btn-primary rounded"
                                    data-bs-dismiss="modal">valider</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%  else %}
    <div class="modal fade mx-auto" id="modal_action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-width: 90% !important;">
        <div class="modal-dialog mx-auto" style="max-width: 90% !important;">
        <div class="modal-content mx-auto" style="max-width: 90% !important;">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Définir action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column" id="modal-body">
                    <p id="modal_title" class="fs-5 ">
                        Vueillez cliquer
                        sur le bouton action</p>
                    <div class="d-flex flex-column ">
                        <form action="#" method="POST" id="form_actions">
                            <div class="form-input" id="form-input">
                                {# <div class="row mb-3">
                                    <h3 class="modal-title fs-5 py-2" id="modal_tittle">action_n°1:</h3>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="reference_action" class="d-flex justify-content-start">Ref
                                            action</label>
                                        <input type="text" name="reference_action" id="reference_action" class="fs-5"
                                            value="">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="libelle_action" class="d-flex justify-content-start">Libellé
                                            action</label>
                                        <input type="text" name="libelle_action" id="libelle_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="porteur_action" class="d-flex justify-content-start">Porteur</label>
                                        <input type="text" name="porteur_action" id="porteur_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="delai_action" class="d-flex justify-content-start">Echéance</label>
                                        <input type="date" name="echeance_action" id="echeance_action" class="fs-5">
                                    </div>
                                </div> #}
                            </div>
                            <div class="modal-footer py-3" id="modal-footer">
                                <button type="button" class="btn btn-primary rounded" id="autre-act">Autre
                                    act..</button>
                                <button type="submit" id="bouton_valider_action" class="btn btn-primary rounded"
                                    data-bs-dismiss="modal">valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%  endif %}

</div>
<!-- ...............Récap............... -->
<div class="jumbotron p-3  modal-title  mb-2 mt-5 tx-center az-content-label bg-light">Récap de l'analyse individuel
</div>
<div class="recap_global border border-dark m-0">
    <table class="border border-dark border-2">
        <caption class="tx-center">Récap de l'analyse individuel</caption>
        <tr class="fs-5 tx-center py-2">
            <th>
                CC
            </th>
            <th>
                valeur
            </th>
            <th>
                Pourquoi 1
            </th>
            <th>
                Pourquoi 2
            </th>
            <th>
                Pourquoi 3
            </th>
            <th>
                Pourquoi 4
            </th>
            <th>
                Pourquoi 5
            </th>
            <th>
                Famille
            </th>
            <th>
                Libelle action
            </th>
            <th>
                Porteur
            </th>
            <th>
                Echeance
            </th>
            <th>
                Statut
            </th>

        </tr>
        {% for i in range(6) %}
        <tr>
            {%  if i==0 %}
            <td rowspan="6" class="col-1 tx-center border border-dark">
                {{ nom_conseiller }}
            </td>
            <td rowspan="6" class="tx-center border border-dark">
                {{ valeurs_aberante_cc }}
            </td>
            <td rowspan="2" class="col-1 tx-center border border-dark">
                {{ liste_pourquoi[0][i] }}
            </td>
            {% elif i==2 %}
            <td rowspan="2" class="col-1 tx-center border border-dark">
                {{ liste_pourquoi[0][1] }}
            </td>
            {% elif i==4 %}
            <td rowspan="2" class="col-1 tx-center border border-dark">
                {{ liste_pourquoi[0][2] }}
            </td>
            {%  endif %}
            <td class="col-1 tx-center border border-dark">
                {{ liste_pourquoi[1][i] }}
            </td>
            <td class="col-1 tx-center border border-dark">
                {{ liste_pourquoi[2][i] }}
            </td>
            <td class="col-1 tx-center border border-dark">
                {{ liste_pourquoi[3][i] }}
            </td>
            <td class="col-1 tx-center border border-dark">
                {{ liste_pourquoi[4][i] }}
            </td>
            <td class=" tx-center border border-dark">
                {{ liste_pourquoi[5][i] }}
            </td>
            <td class=" action-indiv col-2  tx-center border border-dark p-0" style="padding: 0 !important;margin: 0 !important">
                {% for k in range(nbre_act[i]) %}
                <div class=" mb-3 mt-3 ">{{ liste_action[i][1][k] }}</div>
                {% endfor %}
            </td>
            <td class=" action-indiv tx-center border border-dark p-0 " style="padding: 0 !important;margin: 0 !important">
                {% for k in range(nbre_act[i]) %}
                    <div class=" mb-3 mt-3">{{ liste_action[i][2][k] }}</div>
                {% endfor %}
            </td>
            <td class=" action-indiv tx-center border border-dark p-0" style="padding: 0 !important;margin: 0 !important">
                {% for k in range(nbre_act[i]) %}
                <div class=" mb-3 mt-3">{{ liste_action[i][3][k] }}</div>
                {%  endfor %}
            </td>
            <td class="action-indiv tx-center border border-dark p-0" style="padding: 0 !important;margin: 0 !important">
                {% for k in range(nbre_act[i]) %}
                <div class=" mb-3 mt-3">Status</div>
                {%  endfor %}
            </td>
        </tr>
        {%  endfor %}
    </table>

</div>
<div class="action_programme">
    <a href="{{ url_for('action_programme') }}" id="action_programme" class="w-100 fs-5 ">
        <button type="button" class="btn btn-primary rounded my-3 float-right" id="#">Définir Action Programme</button>
    </a>
</div>
&nbsp;&nbsp;

<script src="{{ url_for('static', filename='js/ajoutAction.js') }}"></script>
{% endblock content %}