{% extends 'index.html' %}

{% block content %}
<div class="card container-lg border border-grey rounded-2 p-0 bg-gray-100 shadow">
    <div class="jumbotron p-3 tx-center az-content-label mg-b-20">ANALYSE VARIATION</div>
    <form action="#" method="POST">
        <div style="white-space: nowrap;overflow-x: auto; width: 1700px;" class="position-relative container ">
            <div class="section1 mb-3 ">
                <div class="row mb-3">
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="reference_av">Reference AV</label>
                        <input class="fs-5 px-2" name="reference_av_act" id="reference_av_act" value="{{ reference }}"
                            disabled>
                        <!-- <input type="text" name="reference_av" id="reference_av">-->
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="libelle_av">Libellé AV</label>
                        <input class="fs-5 px-2" type="text" name="libelle_av" value="{{ libelle }}">
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="responsable_av">Responssable AV</label>
                        <input class="fs-5 px-2" type="text" name="responsable_av" value="{{ agent }}" disabled>
                    </div>
                </div>
            </div>
            <div class="analyse-cause mg-t-30" id="section2_act">
                <div class="row mb-2">
                    <div class="col-3 d-flex flex-column">
                        <label for="identifiant_act" class=" fs-5 tx-center">Identifient</label>
                        <input id="identifiant_act" name="identifiant_act"
                            class="px-2 fs-5 border border-info text-white" style="background-color: #009088;"
                            value="{{ nom_conseiller }}" disabled>
                    </div>
                    <div class="col-9 d-flex flex-column">
                        <label for="axes_analyse_act" class=" fs-5 tx-center">Axes d'analyse des causes choisie</label>
                        <input type="" id="axes_analyse_act" name="axes_analyse_act" value="{{ valeurs_aberante_cc }}"
                            class="col pe-0 me-2 fs-5" disabled>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row probleme mb-2">
                        <label for="probleme_act" class="col-3 fs-5">Probleme</label>
                        <div class="col-9 ">
                            <input type="text" id="probleme_act" name="probleme_act" value="{{ datacc.probleme }}"
                                class="col border border-primary fs-5">
                        </div>
                    </div>
                </div>
                <div id="enregistrement_action">
                     <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 1</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[0]+1) %}
                                    <input  class="col pe-0 me-2 fs-5" id="input_1{{ i }}_act" name="input_1{{ i }}_act" value="{{ pourquoi_1[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 2</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[1]+1) %}
                                    <input  class="col pe-0 me-2 fs-5" id="input_2{{ i }}_act" name="input_2{{ i }}_act" value="{{ pourquoi_2[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 3</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[2]+1) %}
                                    <input  class="col pe-0 me-2 fs-5" id="input_3{{ i }}_act" name="input_3{{ i }}_act" value="{{ pourquoi_3[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Pourquoi: 4</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0">
                                {%  for i in range(1,nbre_pourquoi[3]+1) %}
                                    <input  class="col pe-0 me-2 fs-5" id="input_4{{ i }}_act" name="input_4{{ i }}_act" value="{{ pourquoi_4[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-10">
                        <label for="" class="col-2 fs-5">Pourquoi: 5</label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0 ">
                                {%  for i in range(1,nbre_pourquoi[4]+1) %}
                                    <input  class="col pe-0 me-2 fs-5" id="input_5{{ i }}_act" name="input_5{{ i }}_act" value="{{ pourquoi_5[i-1] }}">
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex row mg-b-20">
                        <label for="" class="col-2 fs-5">Famille Causes </label>
                        <div class="col pe-0">
                            <div class="col d-flex row p-0 ">
                                {%  for i in range(1,7) %}
                                    <input  class="col pe-0 me-2 fs-5" id="axes_analyse_{{ i }}" name="axes_analyse_{{ i }}" value="{{ axes_analyse[i-1] }}" disabled>
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex row">
                    <label for="" class="col-2"> </label>
                    <div class="col pe-0">
                        <div class="col d-flex row mg-b-20" id="div-btn">
                            {%  for i in range(1,7) %}
                            <div class="col-2 ">
                                <a href="#" class="definir-action fs-5">
                                    <button id="definir-action_{{ i }}" class="tx-white text-center border-0 rounded definir_action" title="analyse" style="background-color: #FF7900;">Définir
                                        Action</button></a>
                                &nbsp;&nbsp;
                            </div>
                                
                            {%  endfor %}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-end ">
                        <div class="d-flex col-10 justify-content-end p-0 ">
                            <div class="col-2 d-flex justify-content-end p-0 ">
                                <a href="{{ url_for('analyse_agent', reference=reference, n=n) }}">
                                    <div class="btn tx-white btn-final rounded">Autres axes</div>
                                </a>
                            </div>
                            <div class="col-3 d-flex justify-content-end p-0 mg-r-40" id="enregistrement_de_detail">
                                <button type="submit" class="btn  tx-white btn-final rounded">Terminer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- ...............Récap............... -->
    <div class="jumbotron p-0 mb-2 mt-5 tx-center az-content-label bg-light">RECAPUTILATIF DES ACTIONS ANALYSE </div>
    <div class="recap p-3 shadow">
        <table class=" shadow display responsive nowrap" width="100%">
            <caption>RECAPUTILATIF DES ACTIONS ANALYSE</caption>
            <thead class="pb-5">
                <tr class="border border-5">
                    <th class='wd-20p modal-title border border-4 tx-center fs-3 py-3'>Identifient</th>
                    <th class='wd-10p modal-title border border-4 tx-center fs-3 py-3'>Valeur</th>
                    <th class='wd-70p modal-title border border-4 tx-center fs-3 py-3'>Pourquoi & Action </th>
                    {# <th class='wd-60p tx-center fs-3 pb-3'>Actions</th> #}
                </tr>
            </thead>
            <tbody>
                <tr class="border">
                    <td class="wd-20p text-center border border-4 ">
                        <p class="modal-title">{{ nom_conseiller }}</p>
                    </td>
                    <td class="wd-10p text-center border border-4">
                        <h3 class="modal-title">63,5</h3>
                    </td>
                    <td class="wd-70p border border-4">
                        <table class="display responsive  w-100 nowrap ">
                                <thead class="pb-5 ">
                                    <tr class=" row  border w-100 mg-l-0">
                                        <th class='col-3 modal-title  tx-center  py-3'>Pourquois</th>
                                        <th class='col-2 modal-title     fs-5   py-3'>Refaction</th>
                                        <th class='col-3 modal-title     fs-5  py-3'>Libellé action</th>
                                        <th class='col-2 modal-title     fs-5   py-3'>Porteur </th>
                                        <th class='col-2 modal-title     fs-5   py-3'>Echéance </th>
                                    </tr>
                                </thead>
                        </table>
                        <div class="mt-3 pe-2">
                            <div class="text-center ">
                                {% for pqw in range(1,5) %}
                                <div class="d-flex align-items-center justify-content-center w-100">
                                    <div class=" wd-20p pourquoi ">
                                        <h3 class=" modal-title">PQ5_{{ pqw }}</h3>
                                    </div>

                                    <div class="actions wd-80p">
                                        {% for act in   range(2) %}

                                        {# Partie action:::::::::::::::: #}
                                        <table class="display responsive nowrap ">
                                            <tbody>
                                                <tr class="row g-2 p-2">
                                                    <td class="col-3 p-1">
                                                        <input type="text" name="reference_action" id="reference_action"
                                                            class="fs-5 col-12" value="">
                                                    </td>
                                                    <td class="col-3 p-1">

                                                        <input type="text" name="libelle_action" id="libelle_action"
                                                            class="fs-5 col-12">
                                                    </td>
                                                    <td class="col-3 p-1">

                                                        <input type="text" name="porteur_action" id="porteur_action"
                                                            class="fs-5 col-12">

                                                    </td>
                                                    <td class="col-3 p-1">
                                                        <input type="date" name="echeance_action" id="echeance_action"
                                                            class="fs-5 col-12">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    
                                    {% endfor %}
                                </div>
                            </div>
                            <hr class="border border-3">
                            {% endfor %}
                        </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--............ Modal ...............-->
    {%  if exist %}
    <div class="modal fade" id="modal_action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Définir action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column" id="modal-body">
                    <h3 class="">Bien sur que Action existe </h3>
                    <div class="d-flex flex-column ">
                        <form action="#" method="POST" id="form_actions">
                            <div class="form-input" id="form-input">
                                {# <div class="row mb-3">
                                    <h3 class="modal-title fs-5 py-2" id="modal_tittle">action_n°1:</h3>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="reference_action" class="d-flex justify-content-start">Ref
                                            action</label>
                                        <input type="text" name="reference_action" id="reference_action" class="fs-5"
                                            value="">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="libelle_action" class="d-flex justify-content-start">Libellé
                                            action</label>
                                        <input type="text" name="libelle_action" id="libelle_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="porteur_action" class="d-flex justify-content-start">Porteur</label>
                                        <input type="text" name="porteur_action" id="porteur_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="delai_action" class="d-flex justify-content-start">Echéance</label>
                                        <input type="date" name="echeance_action" id="echeance_action" class="fs-5">
                                    </div>
                                </div> #}
                            </div>
                            <div class="modal-footer py-3" id="modal-footer">
                                <button type="button" class="btn btn-primary rounded" id="autre-act">Autre
                                    act..</button>
                                <button type="submit" id="bouton_valider_action" class="btn btn-primary rounded"
                                    data-bs-dismiss="modal">valider</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%  else %}
    <div class="modal fade" id="modal_action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Définir action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column" id="modal-body">
                    <h3 class="">Vueillez cliquer sur le bouton Action</h3>
                    <div class="d-flex flex-column ">
                        <form action="#" method="POST" id="form_actions">
                            <div class="form-input" id="form-input">
                                {# <div class="row mb-3">
                                    <h3 class="modal-title fs-5 py-2" id="modal_tittle">action_n°1:</h3>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="reference_action" class="d-flex justify-content-start">Ref
                                            action</label>
                                        <input type="text" name="reference_action" id="reference_action" class="fs-5"
                                            value="">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="libelle_action" class="d-flex justify-content-start">Libellé
                                            action</label>
                                        <input type="text" name="libelle_action" id="libelle_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="porteur_action" class="d-flex justify-content-start">Porteur</label>
                                        <input type="text" name="porteur_action" id="porteur_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="delai_action" class="d-flex justify-content-start">Echéance</label>
                                        <input type="date" name="echeance_action" id="echeance_action" class="fs-5">
                                    </div>
                                </div> #}
                            </div>
                            <div class="modal-footer py-3" id="modal-footer">
                                <button type="button" class="btn btn-primary rounded" id="autre-act">Autre
                                    act..</button>
                                <button type="submit" id="bouton_valider_action" class="btn btn-primary rounded"
                                    data-bs-dismiss="modal">valider</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%  endif %}

</div>
<script src="{{ url_for('static', filename='js/ajoutAction.js') }}"></script>
{% endblock content %}
