{% extends 'index.html' %}

{% block content %}
<div class="card container-fluid border border-grey rounded-2 p-0 bg-gray-100 shadow">
    <div class="jumbotron p-3 tx-center az-content-label mg-b-20 fs-4">ANALYSE VARIATION</div>
    <form action="" method="POST" >
        <div style="white-space: nowrap;overflow-x: auto; " class="position-relative p-3 ">

            <div class="section1 mb-3 w-100">
                <div class="row mb-3">
                    <div class="col-2 d-flex flex-column">
                        <label class="fs-5" for="reference_av">Numero analyse</label>
                        <div class="border border-1 border-dark fs-5 px-2"> {{ fichier_id }}</div>
                        <!-- <input type="text" name="reference_av" id="reference_av">-->
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <label class="fs-5" for="libelle_av">Libellé AV</label>
                        <input class="fs-5 px-2" type="text" name="libelle_av" id="libelle_av" value="{{ libelle }}">
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <label class="fs-5" for="responsable_av">Responssable AV</label>
                        <input class="fs-5 px-2" type="text" name="responsable_av" id="responsable_av"
                            value="{{ agent }}">
                    </div>
                </div>

                <!--<div class="btn-icon-list">
                    <a href="#" id="add-analyse">
                        <button class="btn border-0 rounded ajout_analyse tx-white" title="analyse">Ajouter
                            Analyse</i></button></a>
                    &nbsp;&nbsp;
                </div>-->
            </div>
            <div class="analyse-cause">
                <div class="row mb-2">
                    <div class="col-3 d-flex flex-column">
                        <label for="identifiant" class=" fs-5 tx-center">Conseiller</label>
                        <input type="text" name="identifiant" id="identifiant" class="px-2 fs-5 border border-info text-white" style="background-color: #009088;" value="{{ nom_conseiller }}">
                    </div>
                    <div class="col-9 d-flex flex-column">
                        <label for="axes_analyse " class=" fs-5 tx-center">Valeur aberrante du conseiller</label>
                        <input class="fs-5 px-2" type="text" name="valeur_aberante_cc" id="valeur_aberante_cc" value="{{ valeurs_aberante_cc }}" disabled>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row probleme mb-2">
                        <label for="probleme" class="col-3 fs-5">Probleme</label>
                        <div class="col-9 ">
                            <input type="text" name="probleme" id="probleme" class="col-12 border border-primary fs-5">
                        </div>
                    </div>
                </div>
                <div id="enregistrement_cause">
                    {% if data_exist %}
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 1</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_1" id="input_1" value="{{ liste_pourquoi[0][0] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_12" id="input_12" value="{{ liste_pourquoi[0][1] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_13" id="input_13" value="{{ liste_pourquoi[0][2] }}">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 2</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_2" id="input_2" value="{{ liste_pourquoi[1][0] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_22" id="input_22" value="{{ liste_pourquoi[1][1] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_23" id="input_23" value="{{ liste_pourquoi[1][2] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_24" id="input_24" value="{{ liste_pourquoi[1][3] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_25" id="input_25" value="{{ liste_pourquoi[1][4] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_26" id="input_26" value="{{ liste_pourquoi[1][5] }}">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 3</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_3" id="input_3" value="{{ liste_pourquoi[2][0] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_32" id="input_32" value="{{ liste_pourquoi[2][1] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_33" id="input_33" value="{{ liste_pourquoi[2][2] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_34" id="input_34" value="{{ liste_pourquoi[2][3] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_35" id="input_35" value="{{ liste_pourquoi[2][4] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_36" id="input_36" value="{{ liste_pourquoi[2][5] }}">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 4</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_4" id="input_4" value="{{ liste_pourquoi[3][0] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_42" id="input_42" value="{{ liste_pourquoi[3][1] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_43" id="input_43" value="{{ liste_pourquoi[3][2] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_44" id="input_44" value="{{ liste_pourquoi[3][3] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_45" id="input_45" value="{{ liste_pourquoi[3][4] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_46" id="input_46" value="{{ liste_pourquoi[3][5] }}">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 5</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_5" id="input_5" value="{{ liste_pourquoi[4][0] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_52" id="input_52" value="{{ liste_pourquoi[4][1] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_53" id="input_53" value="{{ liste_pourquoi[4][2] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_54" id="input_54" value="{{ liste_pourquoi[4][3] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_55" id="input_55" value="{{ liste_pourquoi[4][4] }}">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_56" id="input_56" value="{{ liste_pourquoi[4][5] }}">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Famille Causes </label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0 ">
                                    {%  for i in range(1,7) %}
                                        <div class="col d-flex flex-column p-0 mg-b-10">
                                            <select name="axes_{{ i }}_analyse" id="axes_{{ i }}_analyse" class="bg-white border me-2 fs-5">
                                                <option label="choisir un Axe" ></option>
                                                {% for elem in cause %}
                                                    <option value="{{ elem.libelle }}">{{ elem.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {%  endfor %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 1</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_1" id="input_1" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_12" id="input_12" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_13" id="input_13" value="">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 2</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_2" id="input_2" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_22" id="input_22" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_23" id="input_23" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_24" id="input_24" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_25" id="input_25" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_26" id="input_26" value="">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 3</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_3" id="input_3" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_32" id="input_32" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_33" id="input_33" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_34" id="input_34" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_35" id="input_35" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_36" id="input_36" value="">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 4</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_4" id="input_4" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_42" id="input_42" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_43" id="input_43" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_44" id="input_44" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_45" id="input_45" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_46" id="input_46" value="">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Pourquoi 5</label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0"  style="justify-content: space-between;">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_5" id="input_5" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_52" id="input_52" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_53" id="input_53" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_54" id="input_54" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_55" id="input_55" value="">
                                    <input type="text" class="col pe-0 me-2 fs-5" name="input_56" id="input_56" value="">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row mg-b-20">
                            <label for="" class="col-2 fs-5">Famille Causes </label>
                            <div class="col pe-0">
                                <div class="col d-flex row p-0 ">
                                    {%  for i in range(1,7) %}
                                        <div class="col d-flex flex-column p-0 mg-b-10">
                                            <select name="axes_{{ i }}_analyse" id="axes_{{ i }}_analyse" class="bg-white border me-2 fs-5">
                                                <option label="choisir un Axe" ></option>
                                                {% for elem in cause %}
                                                    <option value="{{ elem.libelle }}">{{ elem.libelle }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {%  endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                <div class="d-flex flex-column">
                
                <div class="d-flex justify-content-end ">
                    <div class="d-flex col-10 justify-content-end p-0">
                            <div class="col-2 d-flex justify-content-end p-0">
                                <div class="btn  tx-white btn-final rounded">Sortir</div>
                            </div>
                            <div class="col-2 d-flex justify-content-end p-0 mg-r-40" >
                                <a href="{{ url_for('listeVa', fichier_id=fichier_id) }}"><div class="btn  tx-white btn-final rounded">Liste</div></a>
                            </div>
                            <div class="col-4 d-flex justify-content-end p-0">
                                <button type="submit" class="btn  tx-white btn-final rounded" id="enregistrement_de_detail">Valider l'Enrégistrement des détails</button type="submit">
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
</div>


<div class="d-inline-block px-2">
    <div style="height:40px"></div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_action" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Définir action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <h3 class="modal-title fs-5 py-2" id="exampleModalLabel">action_n°1</h3>
                    <div class="d-flex flex-column text-center">
                        <form action="#" method="POST" id="form_action">
                            <div class="row mb-3">
                                <div class="col-3 d-flex flex-column">
                                    <label for="reference_action" class="d-flex justify-content-start">Ref action</label>
                                    <input type="text" name="reference_action" id="reference_action" class="fs-5">
                                </div>
                                <div class="col-3 d-flex flex-column">
                                    <label for="libelle_action" class="d-flex justify-content-start">Libellé action</label>
                                    <input type="text" name="libelle_action" id="libelle_action" class="fs-5">
                                </div>
                                <div class="col-3 d-flex flex-column">
                                    <label for="porteur_action" class="d-flex justify-content-start">Porteur</label>
                                    <input type="text" name="porteur_action" id="porteur_action" class="fs-5">
                                </div>
                                <div class="col-3 d-flex flex-column">
                                    <label for="delai_action" class="d-flex justify-content-start">Delai</label>
                                    <input type="text" name="delai_action" id="delai_action" class="fs-5">
                                </div>
                            </div>
                            <div class="autre_action" id="autre_action">
                                <h3 class="modal-title fs-5 py-2 d-flex justify-content-start">action_n°2</h3>
                                <div class="row mb-3">
                                    <div class="col-3 d-flex flex-column">
                                        <label for="reference_autre_action" class="d-flex justify-content-start">Ref action</label>
                                        <input type="text" name="reference_auttre_action" id="reference_autre_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="libelle_autre_action" class="d-flex justify-content-start ">Libellé action</label>
                                        <input type="text" name="libelle_autre_action" id="libelle_autre_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="porteur_autre_action" class="d-flex justify-content-start ">Porteur</label>
                                        <input type="text" name="porteur_autre_action" id="porteur_autre_action" class="fs-5">
                                    </div>
                                    <div class="col-3 d-flex flex-column">
                                        <label for="delai_autre_action" class="d-flex justify-content-start ">Delai</label>
                                        <input type="text" name="delai_autre_action" id="delai_autre_action" class="fs-5">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer py-3">
                                <button type="button" class="btn btn-primary rounded" id="btn_autre_action">Autre act..</button>
                                <button type="submit" id="bouton_valider_action" class="btn btn-primary rounded" data-bs-dismiss="modal">valider</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>-->
</div>
<script src="{{ url_for('static', filename='js/analyseVar.js') }}"></script>
{% endblock content %}
