{% extends 'profil.html' %}
{% block password_change %}
<form method="POST">
    
    <div class="row row-sm mg-b-0">
        <div class="col-lg-12">
            <br>
            <label class="form-label mg-b-10">Ancien mot de passe <span class="tx-danger">*</span> :</label>
      
            <input type="password" name="old_password" class="form-control wd-380"required>
      
          </div><!-- col-4 -->
      <div class="col-lg-6">
        <br>
        <label class="form-label mg-b-10">Nouveau mot de passe <span class="tx-danger">*</span> :</label>
        <input type="password" name="new_password1" class="form-control wd-380"required>
      </div><!-- col-4 -->
  
  
      <div class="col-lg-6">
        <br>
        <label class="form-label mg-b-10">Confirmer le mot de passe <span class="tx-danger">*</span> :</label>
        <input type="password" name="new_password2" class="form-control wd-380"required>
      </div><!-- col-4 -->
  
    </div>
  
    <br><br>
    <button type="submit" class="btn btn-block btn-az-primary "><i class="fas fa-save"></i>
      Valider</button>
  
    </p>
  
          
           
            <br>
  </form>

{% endblock password_change %}