{% extends 'index.html' %}
{% block content %}

<div class="container-lg">

  <div class="jumbotron p-3 tx-center az-content-label mg-b-5">Gestion des Utilisateurs</div>
  <p class="mg-b-20">Monitoring et gestion des utilisateurs.</p>

  <div class="card bg-gray-100 bd-10">
    <div class="card-body">

      <table id="datatable1" class="display responsive nowrap" width="100%">
        <thead class="bg-primary">
          <tr>
            <th class="wd-20p text-dark">Prénoms</th>
            <th class="wd-10p text-dark">Nom</th>
            <th class="wd-15p text-dark">Matricule</th>
            <th class="wd-15p text-dark">Email</th>
            <th class="wd-15p text-dark">Profil</th>
            <th class="wd-5p text-dark tx-center">Role</th>
            <th class="wd-5p text-dark">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in data %}
          <tr>
            <td>{{ user.prenom }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profil }}</td>
            <td>
              {% for role in user.roles %}
                {{role.name}}
              {% endfor %}
            </td>
            <td class="text-center">
              <a href="/editUser/{{user.id}}" class="text-center" title="edit" id="edituser" data-bs-toggle="modal"
                data-bs-target="#modalEdit{{user.id}}">
                <i class="fa-solid fa-pen-to-square fs-3 me-3 text-info"></i>
              </a>
              <a href="/detailUser/{{ user.id }}" class="text-center" title="info">
                <i class="fa-solid fa-circle-info fs-3 me-3 text-warning"></i>
              </a>
              <a href="/supprimerUser/{{user.id}}" class="text-center" title="supprimer" onclick="return confirm('Etes Vous sûr de Supprimer')">
                <i class="fa-solid fa-trash fs-3 text-danger"></i>
              </a>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <br>

      <div class="btn-icon-list">

        <a id="adduser" href="#">
          <button class="btn btn-icon btn-success pd-x-20" title="Ajouter" id="bouton"><i
            class="typcn typcn-plus"></i></button></a>
        &nbsp;&nbsp;


      </div>
    </div>
  </div>
  {# Edit User Modal #}
  {% for user in data %}
  <div class="modal fade" id="modalEdit{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class=" border border-3 border-white modal-content text-white card bd-10 mx-auto rounded col-12"
          style="background:url('/static/img/2.png');">
          <div class="modal-header  border-bottom-0 d-flex justify-content-end">
              <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Modifier Utilisateur</h1>
              <button type="button" class="btn-close fs-5 " data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0 text-white ">
            {# <div class="az-content-label mg-b-10 d-flex justify-content-center">Nouvel Utilisateur</div> #}
            <div class="d-flex ">Renseigner les champs oblogatoires avec Asterisk en rouge pour
              valider.
            </div>
            <small class="text-star">Le mot de passe par default est
              <span class="text-primary ">Sovar@2022,</span> l'utilisateur devra le modifier lors de sa première
              connexion.
            </small>
            <div class="d-flex flex-column card-body mx-0 px-0">
              <form action="{{ url_for('editUser') }}" method="POST" target="cadre2">

                <div class="row row-sm mg-b-0 mb-3">

                  <div class="col-6 form-group">
                    <label class="form-label mg-b-5 text-white">Username</label>
                    <input type="hidden" name="id" value="{{user.id}}">
                    <input type="text" class="form-control wd-380 is-invalid" name="username" placeholder="saisir maticule" value="{{user.username}}" required>
                  </div>

                  <div class="col-6 form-group">
                    <label class="form-label mg-b-5 text-white">Prénom</label>
                    <input type="text" class="form-control wd-380 is-invalid" name="prenom" placeholder="saisir prenom" value="{{user.prenom}}" required min="3">
                  </div>

                </div>

                <div class="row row-sm mg-b-0 mb-3">
                  <div class="col-6 form-group">
                    <label class="form-label mg-b-5 text-white">Nom</label>
                    <input type="text" class="form-control wd-380 is-invalid" name="nom" placeholder="saisir nom" value="{{user.nom}}" required min="2">

                  </div>
                  <div class="col-6 form-group">
                    <label class="form-label mg-b-5 text-white">Email</label>
                    <input type="email" class="form-control wd-380 is-invalid" placeholder="saisir email" name="email" value="{{user.email}}" required>
                  </div> 
                </div>

                <div class="row row-sm mg-b-0">
                  <div class="col-12">
                    <br>
                    <label class="form-label mg-b-10 text-white">Profil : <span class="tx-danger">*</span></label>
                    <select name="profil" id="profil" class="form-control wd-380 is-invalid" >
                    {# <option value="{{user.profil}}">{{user.profil}}</option> #}
                      <option value="ADMIN" {% if user.profil==ADMIN %} selected {% endif %}>ADMIN</option>
                      <option value="MANAGER_OPERATIONNEL" {% if user.profil==MANAGER_OPERATIONNEL %} selected {% endif %}>MO</option>
                      <option value="SUPERVISEUR_OPERATIONNEL" {% if user.profil==SUPERVISEUR_OPERATIONNEL %} selected {% endif %}>SO</option>
                    </select>
                  </div><!-- col-4 -->
                </div>
                </br>
                <label class="form-label tx-white mg-b-10">Plateaux : <span class="tx-danger">*</span></label>
                <div class="row row-sm mg-b-0">
                  <div class="col-3 form-inline">
                    <input type="checkbox" value="all" name="plateau"/>
                    <label class="form-label tx-white mg-b-10 ml-2">Tous les plateaux</label>
                  </div>
                  {% for ele in plateaux %}
                  <div class="col-3 form-inline">
                    <input type="checkbox" value="{{ele.id}}" id="plateau"name="plateau" />
                    <label class="form-label tx-white mg-b-10 ml-2">{{ele.libelle}}</label>
                  </div>
                  {% endfor %}
                  <br>
                </div><br>
                <div class="mg-t-30">
                  <button type="submit" id="bouton" class="btn btn-block btn-az-primary pd-x-20"><i
                      class="fa-solid fa-pen-to-square"></i>
                    Editer</button>
                </div>
              </form>
            </div>
          </div>
      </div>
  </div>
</div>

  {% endfor %}

  {# Add User Modal #}
  <div class="modal fade pt-0" id="adduserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered az-content-body" role="document">
      <div class=" border border-3 border-white modal-content text-white card bd-10 w-50 mx-auto rounded col-12"
        style="background:url('/static/img/2.png');">
        <div class="modal-header border-bottom-0 d-flex justify-content-end ">
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Nouvel Utilisateur</h1>
          <button type="button" class="btn-close fs-5 " data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0 text-white ">
          {# <div class="az-content-label mg-b-10 d-flex justify-content-center">Nouvel Utilisateur</div> #}
          <div class="d-flex ">Renseigner les champs oblogatoires avec Asterisk en rouge pour
            valider.
          </div>
          <small class="text-star">Le mot de passe par default est
            <span class="text-primary ">Sovar@2022,</span> l'utilisateur devra le modifier lors de sa première
            connexion.
          </small>
          <div class="d-flex flex-column card-body mx-0 px-0">
            <form method="POST" target="cadre2">

              {{ form.hidden_tag() }}

              <div class="row row-sm mg-b-0 mb-3">
                <div class="col-6 form-group">

                  {{ form.username.label(class="form-label mg-b-5 text-white") }}

                  {% if form.username.errors %}
                  {{ form.username(class="form-control wd-380 is-invalid", placeholder="saisir maticule") }}
                  <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span> {{ error }} </span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.username(class="form-control wd-380", placeholder="saisir maticule") }}
                  {% endif %}
                </div>

                <div class="col-6 form-group">
                  {# <label class="form-label mg-b-10">Prénoms : <span class="tx-danger">*</span></label>
                    <input type="text" name="prenom" class="form-control wd-380" placeholder="saisir prénom" required> #}
                  {{ form.prenom.label(class="form-label mg-b-5 text-white") }}
                  {% if form.prenom.errors %}
                  {{ form.prenom(class="form-control wd-380 is-invalid", placeholder="saisir prenom") }}
                  <div class="invalid-feedback">
                    {% for error in form.prenom.errors %}
                    <span> {{ error }} </span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.prenom(class="form-control wd-380", placeholder="saisir prenom") }}
                  {% endif %}
                </div>
              </div>

              <div class="row row-sm mg-b-0 mb-3">
                <div class="col-6 form-group">
                  {# <label class="form-label mg-b-10">Nom : <span class="tx-danger">*</span></label>
                    <input type="text" name="nom" class="form-control wd-380" placeholder="saisir nom" required>
                   #}
                  {{ form.nom.label(class="form-label mg-b-5 text-white") }}
                  {% if form.nom.errors %}
                  {{ form.nom(class="form-control wd-380 is-invalid", placeholder="saisir nom") }}
                  <div class="invalid-feedback">
                    {% for error in form.nom.errors %}
                    <span> {{ error }} </span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.nom(class="form-control wd-380", placeholder="saisir nom") }}
                  {% endif %}
                </div>
                <div class="col-6 form-group">
                  {# <label class="form-label mg-b-10">Email : <span class="tx-danger">*</span></label>
                    <input type="text" name="email" class="form-control wd-380" placeholder="saisir email" required>
                   #}
                  {{ form.email.label(class="form-label mg-b-5 text-white") }}
                  {% if form.email.errors %}
                  {{ form.email(class="form-control wd-380 is-invalid", placeholder="saisir email") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span> {{ error }} </span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.email(class="form-control wd-380", placeholder="saisir email") }}
                  {% endif %}
                </div>
              </div>

              <div class="row row-sm mg-b-0">
                <div class="col-12">
                  <br>
                  <label class="form-label mg-b-10 text-white">Profil : <span class="tx-danger">*</span></label>
                  <select name="profil" id="profil" class="form-control wd-380 is-invalid">
                    <option value="ADMIN">ADMIN</option>
                    <option value="MANAGER_OPERATIONNEL">MO</option>
                    <option value="SUPERVISEUR_OPERATIONNEL">SO</option>
                  </select>
                  {# {% if form.profil.errors %}
                  {{ form.profil(class="form-control wd-380 is-invalid", placeholder="saisir maticule") }}
                  <div class="invalid-feedback">
                    {% for error in form.profil.errors %}
                    <span> {{ error }} </span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.profil(class="form-control wd-380", placeholder="saisir profil") }}
                  {% endif %} #}
                </div><!-- col-4 -->
              </div>
              </br>
              <label class="form-label tx-white mg-b-10">Plateaux : <span class="tx-danger">*</span></label>
              <div class="row row-sm mg-b-0">
              <div class="col-3 form-inline">
                <input type="checkbox" value="all" name="plateaux"/>
                <label class="form-label tx-white mg-b-10 ml-2">Tous les plateaux</label>
              </div>
                {% for ele in plateaux %}
                <div class="col-3 form-inline">
                  <input type="checkbox" value="{{ele.id}}" id="plateau" name="plateau" />
                  <label class="form-label mg-b-10 ml-2 tx-white">{{ele.libelle}}</label>
                </div>
                {% endfor %}
                <br>
              </div><br>
              <div class="mg-t-30">
                <button type="submit" id="bouton" class="btn btn-block btn-az-primary pd-x-20"><i
                    class="fas fa-save"></i>
                  Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}