{% extends 'index.html' %}
{% block content %}

<div class="container-lg">
    <div class="jumbotron p-3 tx-center">
        <h2>Information de LAMINE THIAME:</h2>
    </div>
    <div class="card border-0 jumbotron mt-2">
        <div class="card-body d-flex flex-column p-2 ">
            <div class="matricul">

                <h2><em class="float-left">Matricule:</em>
                    <p class="float-right">LT2023</p>
                </h2>
            </div>
            <div class="prenom">

                <h2><em class="float-left">Prenom:</em>
                    <p class="float-right">Lamine</p>
                </h2>
            </div>
            <div class="nom">

                <h2><em class="float-left">Nom:</em>
                    <p class="float-right">THIAM</p>
                </h2>
            </div>
            <div class="email">

                <h2><em class="float-left">Email:</em>
                    <p class="float-right">laminethiam@gmail.com</p>
                </h2>
            </div>
            <div class="profil">

                <h2><em class="float-left">Profil:</em>
                    <p class="float-right">Admin</p>
                </h2>
            </div>
            <div class="tel">

                <h2><em class="float-left">N°tel:</em>
                    <p class="float-right">77 123 23 24</p>
                </h2>
            </div>

        </div>
    </div>



</div>

{% endblock content %}