{% extends 'index.html' %}
{% block content %}

<div class="container">
    <div class="jumbotron p-3 tx-center az-content-label mg-b-5">MIS A JOUR D'UNE ACTION PROGRAMME</div>
    <div class="card bg-gray-100 bd-10 shadow">
        <div class="card-body">
            <form method="POST">
                <div class="Libelle d-flex mb-2">
                    <div class="col-4 fs-5">Reference action</div>
                    <div class="col-4 fs-5 tx-center">Libelle AV</div>
                    <div class="col-4 fs-5 d-flex justify-content-end">Responsable AV</div>
                </div>
                <div class="Libelle d-flex">
                    <div class="col-4 fs-5">{{ valeur_aberrante.reference_av }}</div>
                    <div class="col-4 fs-5 tx-center">Libelle av</div>
                    <div class="col-4 fs-5 d-flex justify-content-end">{{ user.prenom +' '+ user.nom }}</div>
                </div>
                <br>
                <div class="Libelle d-flex">
                    <div class="col-4 fs-5">Porteur action</div>
                    <div class="col-4 fs-5 tx-center">Echeance action</div>
                    <div class="col-4 fs-5 d-flex justify-content-end">Status</div>
                </div>
                <div class="action d-flex mb-3">
                    <div class="col-4 fs-5 tx-center">
                        <input class="col mg-b-20 text-dark" type="text" name="porteur_action" id="porteur_action"
                            value="{{ action_prg.porteur }}" disabled>
                    </div>
                    <div class="col-4 fs-5 tx-center">
                        <input class="col mg-b-20" type="date" name="echeance_action" id="echeance_action"
                            value="{{ action_prg.echeance }}">
                    </div>
                    <div class="col-4 fs-5">
                        <select name="status" id="status" class="bg-white border me-2 fs-5 p-1 col">
                            <option default>Changer Statut</option>
                            <option value="Valide">Valide</option>
                            <option value="Cloture">Cloture</option>
                            <option value="Annule">Annule</option>
                        </select>
                    </div>
                </div>

                <div class="col-12 fs-5 tx-center mb-2">Libelle</div>
                <div class="Libelle ">
                    <input class="col-12 mg-b-20 p-1 fs-5" type="text" name="libelle_action" id="libelle_action"
                        value="{{ action_prg.libelle_action }}">
                </div>
                <br>
                <div class="form-group tx-center">
                    <label for="exampleFormControlTextarea1" class=" fs-5 tx-center">Saisir un commentaire</label>
                    <textarea class="form-control fs-5" id="commentaire" rows="3"
                        name="commentaire">{{ action_prg.commentaire }}</textarea>
                </div>
                <div class="d-flex row col-6 ">
                    <div class="btn-icon-list col-2 mg-r-20">
                        <a href="{{url_for('suivi_action_programme', fichier_id=fichier_id)}}"
                            class="text-white btn btn-danger border-0 rounded" title="edit" id="edituser"
                            data-toggle="modal">Exit
                        </a>
                    </div>
                    <div class="btn-icon-list col-2">
                        <a>
                            <button type="submit" class="btn bouton border-0 rounded"
                                title="Sortir">Valider</button></a>
                        &nbsp;&nbsp;
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}