{% extends 'index.html' %}
{% block content %}

<div class="container-fluid">
    <div class="jumbotron p-3 tx-center az-content-label mg-b-5">LISTE DES FICHIERS CHARGER</div>
    <div class="card bg-gray-100 bd-10">
        <div class="card-body">

            <table id="datatable1" class="display responsive nowrap" width="100%">
                <thead class="bg-primary">
                    <tr>
                        <th class="wd-5p tx-center text-dark">Numéro</th>
                        <th class="wd-15p text-dark">Libelle</th>
                        <th class="wd-15p text-dark">Responsable analyse</th>
                        <th class="wd-20p tx-center text-dark">Nom fichiers</th>
                        <th class="wd-5p tx-center text-dark">Effectif</th>
                        <th class="wd-10p text-dark">Date</th>
                        <th class="wd-5p tx-center text-dark">Valeur aberrante</th>
                        <th class="wd-5p tx-center text-dark">Fichier global</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(nbre_av) %}
                        <tr>
                            <td>{{ liste_fichier[i][0] }}</td>
                            <td>{{ liste_fichier[i][4] }}</td>
                            <td>{{ liste_fichier[i][5] }}</td>
                            <td>{{ liste_fichier[i][1] }}</td>
                            <td>{{ liste_fichier[i][2] }}</td>
                            <td>{{ liste_fichier[i][3] }}</td>
                            <td class="tx-center">
                                <a href="{{ url_for('listeVa', fichier_id=liste_fichier[i][0]) }}" class="text-center" title="edit" id="edituser" data-toggle="modal">
                                    <i class="fa-sharp fa-solid fa-list-check fs-4"></i>

                                </a>
                            </td>
                            <td class="tx-center">
                                <a href="{{ url_for('fichiers_global',id=liste_fichier[i][0])}}" class="text-center" title="edit" id="edituser" data-toggle="modal">
                                    <i class="fa-sharp fa-solid fa-list-check fs-4"></i>
                                    
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>

            <div class="btn-icon-list">

                <a href="{{ url_for('home') }}">
                    <button class="btn bouton  border-0 rounded" title="Sortir">Sortir</i></button></a>
                &nbsp;&nbsp;

            </div>
        </div>
    </div>

</div>
{% endblock content %}