{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class=" jumbotron p-3 tx-center az-content-label mg-b-5">LISTE DES VALEURS AVERANTES</div>
    <div class="card bg-gray-100 bd-10">
        <div class="card-body">
            <table id="datatable1" class="display responsive nowrap" width="100%">
                <thead class="bg-primary">
                    <tr>
                        <th class="wd-20p text-dark">Identifiant</th>
                        <th class="wd-10p text-dark">Valeur</th>
                        <th class="wd-5p text-dark">Analyse</th>
                        <th class="wd-5p text-dark">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(n) %}
                        <tr>
                            <td>{{ liste[i].nom_cc }}</td>
                            <td>{{ liste[i].valeurs }}</td>
                            <td>
                                <a class="d-flex justify-content-center " href="{{ url_for('analyse_agent', reference=reference, n=i ) }}">
                                    <i class="fa-solid fa-pen-to-square fs-5 lien_analyse"></i>
                                    <!--<div class="border border-info d-flex justify-content-center align-items-center" style="height:40px; width:40px;">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>-->
                                </a>
                            </td>
                            
                            <td>
                                <div id="statut_action_{{ i }}"></div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div class="btn-icon-list">
                <a href="{{ url_for('home') }}">
                    <button class="btn btn-primary  border-0 rounded" title="Sortir">Sortir</i></button>
                </a>
                &nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>
<script>
    var liste_element_statut = ['']
    var lien = document.querySelectorAll('.lien_analyse')
    var exist
    //sessionStorage.removeItem('liste_element_statut')
    lien.forEach((elem)=>{
        elem.addEventListener('click', (e)=>{
            //e.preventDefault()
            
            liste_element_statut = sessionStorage.getItem('liste_element_statut')
            if (liste_element_statut){
                liste_element_statut = liste_element_statut.split(',')
                liste_element_statut.forEach((element)=>{
                    id = elem.parentNode.parentNode.nextElementSibling.firstElementChild.id
                    if (element==`${id}:En cours`){
                        exist = 1
                    }
                })
            }else {
                liste_element_statut = ['']
            }
            if (exist!=1){
                id = elem.parentNode.parentNode.nextElementSibling.firstElementChild.id
                liste_element_statut.push(id)
            }
             sessionStorage.setItem('liste_element_statut',`${liste_element_statut}:En cours`)
        })
    })

    
    function change_statut(statut, id){
        contenant_statut = document.createElement('div')
        contenant_statut.textContent = statut
        document.getElementById(id).appendChild(contenant_statut)
    }
    element_statut_terminer = ['statut_action_10', 'statut_action_1','statut_action_5']
    statut = sessionStorage.getItem('statut')
    element_statut_en_cours = sessionStorage.getItem('liste_element_statut')
    if (element_statut_en_cours){
        element_statut_en_cours = element_statut_en_cours.split(',')
        element_statut_en_cours.shift()
    }

        if (element_statut_en_cours){
            lien.forEach((elem)=>{
                var statut_en_attente;
                var ID_en_cours
                var ID_terminer
                Id = elem.parentNode.parentNode.nextElementSibling.firstElementChild.id
                element_statut_terminer.forEach((el)=>{
                    if (el == Id){
                        console.log(Id, id);
                        statut_en_attente = 2
                        ID_terminer = el
                    }
                })
                element_statut_en_cours.forEach((element)=>{
                    element = element.split(':')
                    statut = element[1]
                    id = element[0]
                    if (id == Id && statut_en_attente != 2){
                        statut_en_attente = 1
                        ID_en_cours = id
                    }
                })
                if (statut_en_attente==1){
                    change_statut(statut, ID_en_cours)
                }else if (statut_en_attente==2){
                    statut = 'Terminer'
                    change_statut(statut, ID_terminer)
                }else{
                    statut = 'En attente'
                    change_statut(statut, Id)
                }
            })
        }else{
            statut = 'En attente'
            lien.forEach((elem)=>{
                id = elem.parentNode.parentNode.nextElementSibling.firstElementChild.id
                change_statut(statut, id)
            })
        }

</script>
{% endblock content %}