<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Meta -->
  <meta name="description" content="SO'VAR : Outil d'analyse et de suivi de la variation">
  <meta name="author" content="SONATEL">

  <title>SO'VAR : Outil d'analyse et de suivi de la variation</title>

  <!-- vendor css -->
  <link href="/static/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
  <!-- azia CSS -->
  <link rel="stylesheet" href="/static/css/azia.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/orange_logo.svg">

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script>
    // Resize Parent Window's Corresponding iFrame.
    $(window).on('resize', function () {
      if (window.self != window.top) {
        $(parent.document).find('iframe').each(function () {
          if (this.contentWindow.document == window.document) {
            $(this).css({ height: $('body').height() + 'px', width: '100%' });
          }
        });
      }
    });
  </script>
</head>


<body class="az-body az-body-sidebar"  style="background-color: #009088; background-repeat:no-repeat;background-size: cover;" background="/static/img/sass-3-banner-image.png" width="2000" height="1000"
    style="margin:0;" >


  <script type="text/javascript">
    $(window).on('load', function () {
      $('#modaldemo8').modal('show');
      $('#modaldemo8').modal({ backdrop: 'static'});
    });
  </script>

  <form  method="post">
    <!-- MODAL REINIT PASSWORD -->
    <div id="modaldemo8" class="modal fade just-me" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm bg-white">

          <div class="modal-body tx-left pd-y-20 pd-x-20">

            <h1 class="az-logo"><i class="typcn typcn-chart-bar text-dark"></i>&nbsp;<span class="text-primary"> SO</span>' <span style="color: #009088;">VAR</span>
            </h1>
            <p>Pour une analyse simple, fiable et suivie.<br><br>Merci de renseigner vos paramétres de
              connexion à
              l'application
              SO'VAR .
              <br>Pour des raisons de sécurité , une demande de modifications de votre mot de passe vous sera demandée
              lors de votre
              première connexion !
            </p>
            <br>


            <div class="col">
               
            </div>


            <p class="mg-b-20 mg-x-20 text-center">
              
            <div class="row row-sm mg-b-0">
              <div class="col-12">


                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-black-2">
                      <i class="fas fa-user text-white tx-24 lh--9 op-8"></i>
                    </div>
                  </div><!-- input-group-prepend -->
                  <input type="text" class="form-control" id="matricule" placeholder="Login" name="username">
                </div><!-- input-group -->


              </div><!-- col-4 -->
            </div>
            <div class="row row-sm mg-b-0">
              <br>
              <div class="col-12">
                <br>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-black-2">
                      <i class="fas fa-unlock text-white tx-24 lh--9 op-8"></i>
                    </div>
                  </div><!-- input-group-prepend -->
                  <input type="password" class="form-control" name="password" placeholder="Mot de passe" id="id_password"
                    required>

                  <i id="togglePassword" class="fa fa-eye tx-18 lh--9 op-4"
                    style="cursor: pointer; margin-top: 10px;margin-left: -22px; z-index: auto"></i>


                  <div class="msg">{{ msg }}</div>
                </div><!-- input-group -->


              </div><!-- col-4 -->
            </div>
            </p>
            <div class=" text-right"><br>
              <button type="submit" class="btn  btn-az-secondary btn-rounded btn-sm pd-x-25"><i class="fas fa-sign-in-alt"></i>
                Connexion</button>
            </div>
            <br><br>
            <h1 class="az-logo"><img src="/static/img/orange_logo.svg" /> </h1>

            <!-- az-signup-header -->
            <div class="az-signup-footer text-right">
              <p> <a href="#" data-toggle="modal" class="text-right text-primary" data-target="#Reinit">Mot de passe
                  oublié ?</a>
              </p>
            </div><!-- az-signin-footer -->
          </div><!-- modal-body -->


        </div><!-- modal-content -->


      </div><!-- modal-dialog -->
    </div>
  </form>

  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/lib/ionicons/ionicons.js"></script>





  <script src="/static/js/azia.js"></script>
  
 
  
<script>
  $(function () {
    'use strict'

    $('.az-sidebar .with-sub').on('click', function (e) {
      e.preventDefault();
      $(this).parent().toggleClass('show');
      $(this).parent().siblings().removeClass('show');
    })

    $(document).on('click touchstart', function (e) {
      e.stopPropagation();

      // closing of sidebar menu when clicking outside of it
      if (!$(e.target).closest('.az-header-menu-icon').length) {
        var sidebarTarg = $(e.target).closest('.az-sidebar').length;
        if (!sidebarTarg) {
          $('body').removeClass('az-sidebar-show');
        }
      }
    });


    $('#azSidebarToggle').on('click', function (e) {
      e.preventDefault();

      if (window.matchMedia('(min-width: 992px)').matches) {
        $('body').toggleClass('az-sidebar-hide');
      } else {
        $('body').toggleClass('az-sidebar-show');
      }
    });

    new PerfectScrollbar('.az-sidebar-body', {
      suppressScrollX: true
    });

    /* ----------------------------------- */
    /* Dashboard content */


    $.plot('#flotChart1', [{
      data: dashData1,
      color: '#6f42c1'
    }], {
      series: {
        shadowSize: 0,
        lines: {
          show: true,
          lineWidth: 2,
          fill: true,
          fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
        }
      },
      grid: {
        borderWidth: 0,
        labelMargin: 0
      },
      yaxis: {
        show: false,
        min: 0,
        max: 100
      },
      xaxis: { show: false }
    });

    $.plot('#flotChart2', [{
      data: dashData2,
      color: '#007bff'
    }], {
      series: {
        shadowSize: 0,
        lines: {
          show: true,
          lineWidth: 2,
          fill: true,
          fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
        }
      },
      grid: {
        borderWidth: 0,
        labelMargin: 0
      },
      yaxis: {
        show: false,
        min: 0,
        max: 100
      },
      xaxis: { show: false }
    });

  });

  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#id_password');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
  });
</script>

</body>


</html>