<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="SO'VAR : Outil d'analyse et de suivi de la variation">
  <meta name="author" content="SONATEL">

  <title>SO'VAR : Outil d'analyse et de suivi de la variation</title>

  <!-- vendor css -->
  <link href="{{ url_for('static', filename='lib/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/select2/css/select2.min.css') }}" rel="stylesheet">

  <!--  fontaweson latest update -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

  <!-- azia CSS -->
  <link href="{{ url_for('static', filename='css/azia.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/azia.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/orange_logo.svg">

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script>
    // Resize Parent Window's Corresponding iFrame.
    $(window).on('resize', function () {
      if (window.self != window.top) {
        $(parent.document).find('iframe').each(function () {
          if (this.contentWindow.document == window.document) {
            $(this).css({ height: $('body').height() + 'px', width: '100%' });
          }
        });
      }
    });
  </script>
</head>

<body class="az-body az-body-sidebar"
  style="background-color: #009088; background-repeat:no-repeat;background-size: cover;"
  background="/static/img/design.PNG" width="2000" height="1000" style="margin:0;">

  <script type="text/javascript">
    $(window).on('load', function () {
      $('#modaldemo8').modal('show');
      $('#modaldemo8').modal({ backdrop: 'static' });
    });
  </script>

  <form method="POST" class="text-start " role="form" >

    <!-- MODAL REINIT PASSWORD -->
    <div id="modaldemo8" class="modal fade just-me" data-keyboard="false" data-backdrop="static" >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages  %}
                <div class="alert alert-{{ category }} small mb-0">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <div class="modal-content tx-size-sm bg-white" style="background:url('/static/img/cc2c.jpg'); background-size:cover; background-position:center ">
            <div class="modal-body tx-left pd-y-20 pd-x-20" >
              <h1 class="az-logo"><i class="typcn typcn-chart-bar text-dark"></i>&nbsp;<span class="text-orange">
                  SO</span>' <span style="color: #009088;">VAR</span>
              </h1>
              <p>Pour une analyse simple, fiable et suivie.<br><br>Merci de renseigner vos paramétres de
                <br>Pour des raisons de sécurité , une demande de modifications de votre mot de passe vous
                sera
                demandée
                lors de votre
                première connexion !
              </p>
              <br>
              <div class="col">
              </div>
              <div class="row row-sm mg-b-0">
                <div class="col-12">
                  <div class="input-group input-group-outline mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text border border-3 border-secondary bg-black-2">
                        <i class="fas fa-user tx-18 lh--9 op-8"></i>
                      </div>
                    </div><!-- input-group-prepend -->
                    {# <input type="text" class="form-control form-control-lg" id="matricule" placeholder="Login" name="username"> #}
                    {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Login") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span> {{ error }} </span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Login") }}
                    {% endif %}
                  </div><!-- input-group -->
                </div><!-- col-4 -->
              </div>
              <div class="row row-sm mg-b-0 mt-3 ">
                <div class="col-12">
                  <div class="input-group input-group-outline mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text border border-3 border-secondary bg-black-2">
                        <i class="fa fa-unlock  tx-18 lh--9 op-8" aria-hidden="true"></i>
                      </div>
                    </div><!-- input-group-prepend -->
                    {# <input type="password" class="form-control form-control-lg" name="password" placeholder="Mot de passe" id="password" required> #}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Mot de passe", id="id_password") }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span> {{ error }} </span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Mot de passe", id="id_password") }}
                    {% endif %}
                  </div><!-- input-group -->
                </div><!-- col-4 -->
              </div>
              <div class=" text-right"><br>
                <button type="submit" class="btn  btn-az-secondary btn-rounded btn-sm pd-x-25"><i
                    class="fas fa-sign-in-alt"></i>
                  Connexion</button>
        
              </div>
              <h1 class="az-logo  "><img src="/static/img/orange_logo.svg" /> </h1>
              <!-- az-signup-header -->
              <div class="az-signup-footer text-right">
                <p> <a href="{{ url_for('reset_request') }}"  class="text-right text-info">Mot
                    de passe
                    oublié ?</a>
                </p>
              </div><!-- az-signin-footer -->
            </div><!-- modal-body -->
          </div><!-- modal-content -->
        </div>
      </div><!-- modal-dialog -->
    </div>
  </form>

  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/lib/ionicons/ionicons.js"></script>
  <script src="/static/js/azia.js"></script>

  <script>
    $(function () {
      'use strict'

      $('.az-sidebar .with-sub').on('click', function (e) {
        e.preventDefault();
        $(this).parent().toggleClass('show');
        $(this).parent().siblings().removeClass('show');
      })
    })
    $(function () {
      'use strict'
      $('.az-sidebar .with-sub').on('click', function (e) {
        e.preventDefault();
        $(this).parent().toggleClass('show');
        $(this).parent().siblings().removeClass('show');
      });
      $(document).on('click touchstart', function (e) {
        e.stopPropagation();

        // closing of sidebar menu when clicking outside of it
        if (!$(e.target).closest('.az-header-menu-icon').length) {
          var sidebarTarg = $(e.target).closest('.az-sidebar').length;
          if (!sidebarTarg) {
            $('body').removeClass('az-sidebar-show');
          }
        }
      });

      $('#azSidebarToggle').on('click', function (e) {
        e.preventDefault();

        if (window.matchMedia('(min-width: 992px)').matches) {
          $('body').toggleClass('az-sidebar-hide');
        } else {
          $('body').toggleClass('az-sidebar-show');
        }
      });

      new PerfectScrollbar('.az-sidebar-body', {
        suppressScrollX: true
      });

      /* ----------------------------------- */
      /* Dashboard content */


      $.plot('#flotChart1', [{
        data: dashData1,
        color: '#6f42c1'
      }], {
        series: {
          shadowSize: 0,
          lines: {
            show: true,
            lineWidth: 2,
            fill: true,
            fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
          }
        },
        grid: {
          borderWidth: 0,
          labelMargin: 0
        },
        yaxis: {
          show: false,
          min: 0,
          max: 100
        },
        xaxis: { show: false }
      });

      $.plot('#flotChart2', [{
        data: dashData2,
        color: '#007bff'
      }], {
        series: {
          shadowSize: 0,
          lines: {
            show: true,
            lineWidth: 2,
            fill: true,
            fillColor: { colors: [{ opacity: 0 }, { opacity: 1 }] }
          }
        },
        grid: {
          borderWidth: 0,
          labelMargin: 0
        },
        yaxis: {
          show: false,
          min: 0,
          max: 100
        },
        xaxis: { show: false }
      });

    });

    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
      // toggle the type attribute
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      // toggle the eye slash icon
      this.classList.toggle('fa-eye-slash');
    });
  </script>

</body>


</html>