{% extends 'index.html' %}
{% block content %}
<div class="container-lg">
  <div class="row d-flex align-items-center">
    <div class="col-4 imageProfi tx-center ">
      <img class="col-12" src="{{ url_for('static', filename='img/profil.png') }}">
      <span class="fs-3">{{ current_user.prenom }} {{ current_user.nom }}</span>
    </div>

    
    <div class="col-8 ">
    {# <div class="az-content-label mg-b-5 "> MON PROFIL - {{ current_user.prenom }} {{ current_user.nom }}</div> #}
    <div class="card- bd-10 bg-white ">
      <div class="card-body ">
        <p>
          <h2 class="jumbotron p-3 tx-center">Informations données utilisateurs.</h2>
          <div class="col-12 d-flex ">
            <div class="row border col-12 d-flex justify-content-around rounded-5">
              <div class="col-md-5 col-xl-5 p-4 mg-30 ">
              <div class="az-content-label tx-13 mg-b-25">Mes Informations</div>
              <div class="az-profile-work-list">
                <div class="media">
                  <div class="media-logo bg-success"><i class="fas fa-user"></i></div>
                  <div class="media-body">
                    <h6> Prénom & Nom</h6>
                    <span>{{ current_user.prenom }} {{ current_user.nom }}</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-logo bg-primary"><i class="fa fa-lock"></i></div>
                  <div class="media-body">
                    <h6>Login </h6>
                    <span>{{ current_user.username }}</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-logo bg-primary"><i class="fas fa-user-tie"></i></i></div>
                  <div class="media-body">
                    <h6>Fonction </h6>
                    <span>Groupe1</span>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- az-profile-work-list -->
            </div><!-- col -->
            <div class="col-md- col-xl-5  p-4 mg-30 d-flex justify-content-end ">
              <div class="az-profile-contact-list">
                <div class="az-content-label tx-13 mg-b-25">Contact Information</div>
                <div class="media">
                  <div class="media-icon"><i class="fas fa-at"></i></div>
                  <div class="media-body">
                    <h6>Email</h6>
                    <div>{{ current_user.email }}</div>
                  </div> <!-- media-body -->
                </div> <!-- media -->

                <div class="media">
                  <div class="media-icon"><i class="fas fa-user-tie"></i></div>
                  <div class="media-body">
                    <h6>Role</h6>
                    <div>{{ current_user.profil }}</div>
                  </div>
                </div> <!-- media -->
                
              </div> <!-- az-profile-contact-list -->
            </div> <!-- col -->
            <button id="changepwd"  class=" bouton btn col-8 rounded mg-b-20" >
              <a href="#" class="fs-5 text-white fw-bold ">Modifier mon Mot de passe</a>
            </button>
          </div> <!-- row -->
        </div>
        <br>
        <hr class="col-12">
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="profil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered az-content-body" role="document">
      <div class="modal-content card bg-gray-300 bd-10 w-50 mx-auto rounded col-12" style="background:url('/static/img/cc2c.jpg'); background-size:cover; background-position:top">
        <div class="modal-header border-bottom-0 d-flex ">
          <h1 class="az-content-label ">Modifier mot de passe</h1>
          <button type="button " class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mt-0 ">

          <div class="d-flex flex-column card-body mx-0 px-0">
            <form method="POST" target="cadre2">
              <div class="row-sm mg-b-0 mb-3">

                <div class="col-12 mg-b-20">
                  <label class="form-label ">Ancien mot de passe <span class="tx-danger">*</span></label>
                  <input type="text" name="matricule" class="form-control wd-380" placeholder="saisir prenom" required>
                </div>

                <div class="col-12 mg-b-20">
                  <label class="form-label ">Nouveau mot de passe <span class="tx-danger">*</span></label>
                  <input type="text" name="prenom" class="form-control wd-380" placeholder="saisir prénom" required>
                </div>

                <div class="col-12 mg-b-20">
                  <label class="form-label ">Confirmer mot de passe<span class="tx-danger">*</span></label>
                  <input type="text" name="prenom" class="form-control wd-380" placeholder="saisir prénom" required>
                </div>
              </div>

              </br>
              <div class="mg-t-30 ">
                <button type="submit" class=" bouton btn btn-block btn-az-primary pd-x-20"><i class="fas fa-save"></i>
                  Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}