{% extends 'index.html' %}

{% block content %}

<div class="jumbotron p-3 mb-2 mt-5 tx-center az-content-label">RECAPUTILATIF DES ACTIONS ANALYSE </div>
<div class="recap p-3 shadow">
    <table id="" class="display responsive nowrap" width="100%">
        <caption>Récap de l'analyse global</caption>
        <thead class="bg-primary">
            <tr class="tx-center fs-5">
                <th class="py-2" >
                    Conseiller
                </th>
                <th class="py-2" >
                    valeur
                </th>
                
                <th class="py-2" >
                    Pourquoi1
                </th>
                <th class="py-2" >
                    Pourquoi2
                </th>
                <th class="py-2" >
                    Pourquoi3
                </th>
                <th class="py-2" >
                    Pourquoi4
                </th>
                <th class="py-2" >
                    Pourquoi5
                </th>
                <th class="py-2" >
                    Famille cause
                </th>
                <th class="py-2" >
                    Actions
                </th>
                <th class="py-2" >
                    Porteurs
                </th>
                <th class="py-2" >
                    Echeances
                </th>
                <th class="py-2" >
                    Statut
                </th>
                
            </tr>
        </thead>
        {% for j in range(CC[0]) %}

            {% for i in range(Action[0][j]) %}
                    <tr >
                        {% if i==0 %}
                            <td rowspan="{{ Action[0][j] }}" class="col-1 tx-center border">
                                {{ CC[1][j] }}
                            </td>
                            <td rowspan="{{ Action[0][j] }}" class="col-1 tx-center border">
                                {{ CC[2][j] }}
                            </td>
                        {%  endif %}
                        {% if Pourquoi[6][j]==3 %}
                            {% if i==0 %}
                                <td rowspan="{{ Action[1][j][0]+Action[1][j][1] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[0][j][0] }}
                                </td>
                            {% elif i==Action[1][j][0]+Action[1][j][1] %}
                                <td rowspan="{{ Action[1][j][2]+Action[1][j][3] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[0][j][1] }} 
                                </td>
                            {% elif i==Action[1][j][0]+Action[1][j][1]+Action[1][j][2]+Action[1][j][3] %}
                                <td rowspan="{{ Action[1][j][4]+Action[1][j][5] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[0][j][2] }}
                                </td>
                            {%  endif %}
                        {% elif Pourquoi[6][j]==2 %}
                            {% if i==0 %}
                                <td rowspan="{{ Action[1][j][0]+Action[1][j][1] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[0][j][0] }}
                                </td>
                            {% elif i==Action[1][j][0]+Action[1][j][1] %}
                                <td rowspan="{{ Action[1][j][3]+Action[1][j][2] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[0][j][1] }} 
                                </td>
                            {%  endif %}
                        {% elif Pourquoi[6][j]==1 %}
                            {% if i==0 %}
                                <td rowspan="{{ Action[0][j] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[0][j][0] }}
                                </td>
                            {%  endif %}
                        {%  endif %}
                        {%  for m in range(1,6) %}
                            {% if i==0 %}
                                <td rowspan="{{ Action[1][j][0] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[m][j][0] }}
                                </td>
                                {% elif i==Action[1][j][0] %}
                                <td rowspan="{{ Action[1][j][1] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[m][j][1] }}
                                </td>
                                {% elif i==(Action[1][j][0]+Action[1][j][1]) %}
                                <td rowspan="{{ Action[1][j][2] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[m][j][2] }}
                                </td>
                                {% elif i==(Action[1][j][0]+Action[1][j][1]+Action[1][j][2]) %}
                                <td rowspan="{{ Action[1][j][3] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[m][j][3] }}
                                </td>
                                {% elif i==(Action[1][j][0]+Action[1][j][1]+Action[1][j][2]+Action[1][j][3]) %}
                                <td rowspan="{{ Action[1][j][4] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[m][j][4] }}
                                </td>
                                {% elif i==(Action[1][j][0]+Action[1][j][1]+Action[1][j][2]+Action[1][j][3]+Action[1][j][4]) %}
                                <td rowspan="{{ Action[1][j][5] }}" class="col-1 tx-center border">
                                    {{ Pourquoi[m][j][5] }}
                                </td>
                            {%  endif %}
                        {%  endfor %}
                        <td class="col-1 tx-center border">
                            {{ Action[2][j][0][i] }}
                        </td>
                        <td class="col-1 tx-center border">
                            {{ Action[2][j][1][i] }}
                        </td>
                        <td class="col-1 tx-center border">
                            {{ Action[2][j][2][i] }}
                        </td>
                        <td class="col-1 tx-center border">
                            {{ Action[2][j][4][i] }}
                    </tr>
            {%  endfor %}
        {%  endfor %}
    </table>

    {% if current_user.is_authenticated %}
    <div class="detail-analyse d-flex row">
        <div href="#" id="action_programme" class="w-100 fs-5 col-3">
        </div>
        <div href="#" id="action_programme" class="w-100 fs-5 col-8">
        </div>
        <a href="{{ url_for('suivi_action', fichier_id=fichier_id) }}" id="action_programme" class="w-100 fs-5 col-1">
            <button type="button" class="btn bouton rounded my-3 float-right" id="rejet-av">Suivi actions</button>
        </a>
    </div>
    {% endif %}
    {% if current_user.is_authenticated and (current_user.profil)!='MANAGER_OPERATIONNEL' %}
    <div class="detail-analyse d-flex row">
        <a href="#" id="action_programme" class="w-100 fs-5 col-3">
        <button type="button" class="btn bouton rounded my-3 float-left" id="exporter-an">Exporter</button>
        </a>
        <a href="{{ url_for('rejeterAv', fichier_id=fichier_id) }}" id="action_programme" class="w-100 fs-5 col-8">
            <button type="button" class="btn btn-danger tx-white rounded my-3 float-right" id="rejet-av">Rejeter</button>
        </a>
        <a href="#" id="action_programme" class="w-100 fs-5 col-1 ">
            <button type="button" class="btn btn-success tx-white rounded my-3 float-right" id="valider-av">Valider</button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock content %}