{% extends 'index.html' %}
{% block css %}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}
{% endblock css %}

{% block content %}
<div class="jumbotron p-3 mb-2 mt-5 tx-center az-content-label">SUIVI DES ACTIONS PROGRAMME</div>
<div class="card bg-gray-100 shadow">
<div class="card-body">
    <input type="text" class="live-search-box p-2 my-3 float-right " placeholder="search here" />
    <table id="datatable1" class="display responsive nowrap table-sm" width="100%">
        <thead class="bg-primary">
            <tr class="tx-center py-2 fs-5">
                <th class="wd-15p text-dark">
                    Conseiller
                </th>
                <th class="wd-10p text-dark">
                    valeur
                </th>

                <th class="wd-20p text-dark">
                    Cause racine
                </th>
                <th class="wd-5p text-dark">
                    Famille cause
                </th>
                <th class="wd-20p text-dark">
                    Actions
                </th>
                <th class="wd-5p text-dark">
                    Porteurs
                </th>
                <th class="wd-10p text-dark">
                    Echeances
                </th>
                <th class="wd-5p text-dark">
                    Statut
                </th>
                <th class="wd-5p text-dark">
                    Edit
                </th>
            </tr>
        </thead>
        <tbody class="live-search-list">

            {% for j in range(nbre_cc) %}
            {% for i in range(N[j]) %}
            <tr>
                {% if i==0 %}
                <td rowspan="{{ N[j] }}" class="col-1 tx-center border border-dark border-2">
                    {{ Nom_cc[j] }}
                </td>
                <td rowspan="{{ N[j] }}" class="col-1 tx-center border border-dark border-2">
                    {{ Valeur_cc[j] }}
                </td>
                {%  endif %}
                {%  for m in range(2) %}
                {% if i==0 %}
                <td rowspan="{{ nbre_act[j][0] }}" class="col-2 tx-center border border-dark border-2">
                    {{ table_pourquoi_axe[m][j][0] }}
                </td>
                {% elif i==nbre_act[j][0] %}
                <td rowspan="{{ nbre_act[j][1] }}" class="col-2 tx-center border border-dark border-2">
                    {{ table_pourquoi_axe[m][j][1] }}
                </td>
                {% elif i==(nbre_act[j][0]+nbre_act[j][1]) %}
                <td rowspan="{{ nbre_act[j][2] }}" class="col-2 tx-center border border-dark border-2">
                    {{ table_pourquoi_axe[m][j][2] }}
                </td>
                {% elif i==(nbre_act[j][0]+nbre_act[j][1]+nbre_act[j][2]) %}
                <td rowspan="{{ nbre_act[j][3] }}" class="col-2 tx-center border border-dark border-2">
                    {{ table_pourquoi_axe[m][j][3] }}
                </td>
                {% elif i==(nbre_act[j][0]+nbre_act[j][1]+nbre_act[j][2]+nbre_act[j][3]) %}
                <td rowspan="{{ nbre_act[j][4] }}" class="col-2 tx-center border border-dark border-2">
                    {{ table_pourquoi_axe[m][j][4] }}
                </td>
                {% elif i==(nbre_act[j][0]+nbre_act[j][1]+nbre_act[j][2]+nbre_act[j][3]+nbre_act[j][4]) %}
                <td rowspan="{{ nbre_act[j][5] }}" class="col-2 tx-center border border-dark border-2">
                    {{ table_pourquoi_axe[m][j][5] }}
                </td>
                {%  endif %}
                {%  endfor %}

                <td class="col-2 tx-center border border-dark border-2">
                    {{ table_action[j][0][i] }}
                </td>
                <td class="col-1 tx-center border border-dark border-2">
                    {{ table_action[j][1][i] }}
                </td>
                <td class="col-1 tx-center border border-dark border-2">
                    {{ table_action[j][2][i] }}
                </td>
                <td class="col-1 tx-center border border-dark border-2">
                    {{ table_action[j][4][i] }}
                </td>
                <td class="col-1 tx-center border border-dark border-2">
                    <a href="{{ url_for('editact_prog', id_action=table_action[j][3][i]) }}" class="text-center"
                        title="edit" id="edituser" data-toggle="modal">
                        <i class="fa-solid fa-pen-to-square fs-4 me-3 text-info"></i>
                    </a>
                </td>
            </tr>
            {%  endfor %}
            {%  endfor %}
        </tbody>
    </table>
    <div class="col-12 d-flex justify-content-end p-0">
        <a href="#">
            <button type="submit" class="btn  bouton rounded" id="enregistrement_de_detail">Suivi A.P</button>
        </a>
    </div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>

<script type="text/javascript">
jQuery(document).ready(function ($) {

    $('.live-search-list tr').each(function () {
        $(this).attr('data-search-term', $(this).text().toLowerCase());
    });

    $('.live-search-box').on('keyup', function () {

        var searchTerm = $(this).val().toLowerCase();

        $('.live-search-list tr').each(function () {

            if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

});
</script>

{% endblock content %}