{% extends 'index.html' %}
{% block content %}

<div class="container">

    <h1 class="text-dark d-flex justify-content-center align-items-center py-1 my-4">ENREGISTREMENT DES SYNTHESES D'ANALYSES DE VARIATION</h1>
    
    <div class="card bg-gray-100 bd-10 shadow">
        <div class="mg-20">

            <form action="#" method="POST">
                <div class="col-12 d-flex row text-center mg-b-25" style="display: flex; justify-content: space-between; font-size: 1.5em;">
                    <div class="col-2" style="background-color: #D9D9D9;">Reference</div>
                    <div class="col-3" style="background-color: #D9D9D9;">Date: 
                        {{ Date }}
                    </div>
                    <div class="col-3" style="background-color: #D9D9D9;">Aut : {{ prenom }} {{ nom }}</div>
                        <select class="col-2" id="statut" name="statut" class="form-control select2" data-placeholder="Statut en cour" style="background-color: #D9D9D9;">
                        <option label="Statut en cour"></option>
                        <option value="Enregistre">Enregistre</option>
                        <option value="Valide">Valide</option>
                        <option value="Cloture">Cloture</option>
                        </select>
                </div>
                <div class="col-12 d-flex row mg-b-25" style="display: flex; justify-content: space-between; font-size: 1.5em;">
                    <input id="libelle" name="libelle" class="col-12" style="background-color: #D9D9D9;" type="text" value="libelle">
                    <!-- <div class="col-12" style="background-color: #D9D9D9;">libelle</div> -->
                </div>
                <div class="col-12 d-flex row text-center mg-b-25" style="display: flex; justify-content: space-between; font-size: 1.5em;">
                    <input class="col-2" style="background-color: #D9D9D9;" value="KPI analyse" >
                    <div class="col-5 d-flex row">
                        <input class="col-6" type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" style=" background-color: #D9D9D9;">
                        <input class="col-6" type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" style=" background-color: #D9D9D9;">
                    </div>
                   <!-- <input class="col-3" style="background-color: #D9D9D9;" value="Periode"> -->
                    <input class="col-3" style="background-color: #D9D9D9;" value="Equipe">
                </div>
                <div class="col-12 d-flex row mg-b-25" style="display: flex; justify-content: space-between; font-size: 1.5em;">
                    <div class="col-12 text-center" style="background-color: #D9D9D9;">Syntheses des resultats</div> 
                </div>
                <div class="col-12 d-flex row text-center mg-b-25" style="display: flex; justify-content: space-between; font-size: 1.5em;">
                    <div class="col-3" style="background-color: #D9D9D9;">Nombres de mesures</div>
                    <div class="col-2" style="background-color: #D9D9D9;">Objectif</div>
                    <div class="col-2" style="background-color: #D9D9D9;">VSF</div>
                    <div class="col-3" style="background-color: #D9D9D9;">Mesures a l'objectif</div>
                </div>
                <div class="col-12 d-flex row text-center mg-b-25" style="display: flex; justify-content: space-between; font-size: 1.5em;">
                    <div class="col-4" style="background-color: #D9D9D9;">Limite de controle superieure : 1000</div>
                    <div class="col-4" style="background-color: #D9D9D9;">Nombres de VA en sur-perf : {{ nbr_va_sur_perf }}</div>
                </div>
                <div class="col-12 d-flex row text-center mg-b-25" style="display: flex; justify-content: space-between; font-size: 1.5em;">
                    <div class="col-4" style="background-color: #D9D9D9;">Limite de controle inferieure : 600</div>
                    <div class="col-4" style="background-color: #D9D9D9;">Nombres de VA en sous-perf : {{ nbr_va_sou_perf }}</div>
                </div>
                <br>
                <div class="col-12 d-flex row" style="justify-content: space-between;">
                    <div class="col-2" style="align-items: center;">
                        <p class="text-center text-white"  style="background-color: #009088; font-size: 1.5em;" >fichier</p>
                    </div>
                    <div class="col-10 d-flex row" style="justify-content: flex-end;">
                        <div class="col-3 btn-icon-list">
                            <a href="#">
                                <button type="submit" class="btn btn-primary  border-0 rounded" title="Sortir" style="font-size: 1.3em;">Analyser les causes</i></button></a>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>

</div>
{% endblock content %}